Checks: >
  -*,
  readability-identifier-naming,
  readability-make-member-function-const,
  readability-container-size-empty,
  modernize-use-override,
  google-global-names-in-headers,
  cppcoreguidelines-use-enum-class,
  bugprone-use-after-move,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  performance-inefficient-vector-operation,

HeaderFilterRegex: '.*[\\/](src|common|AssetResolver)[\\/].*'
WarningsAsErrors: '*'
FormatStyle: file

CheckOptions:
  readability-identifier-naming.NamespaceCase: CamelCase
  readability-identifier-naming.ClassCase: CamelCase
  # Houdini operator classes use HDK prefix convention: e.g SOP_ZibraVDBDecompressor
  readability-identifier-naming.ClassIgnoredRegexp: '^[A-Z]{3}_[A-Z][A-Za-z0-9]*(_[A-Z][A-Za-z0-9]*)?$'
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase

  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.MethodCase: CamelCase

  # Small data structs may use float x, y, z, and we don't check public therefore
  readability-identifier-naming.PrivateMemberPrefix: 'm_'
  readability-identifier-naming.PrivateMemberCase: CamelCase
  readability-identifier-naming.ProtectedMemberPrefix: 'm_'
  readability-identifier-naming.ProtectedMemberCase: CamelCase

  readability-identifier-naming.ClassMemberPrefix: 'ms_'
  readability-identifier-naming.ClassMemberCase: CamelCase

  readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE

  # Abbreviation at the start is allowed. e.g UAVs, RHIFactory
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.LocalVariableIgnoredRegexp: '^[A-Z]{3}[a-z0-9]*([A-Z][a-z0-9]*)*$'

  readability-identifier-naming.GlobalVariablePrefix: 'g_'
  readability-identifier-naming.GlobalVariableCase: CamelCase

  readability-identifier-naming.ScopedEnumConstantCase: CamelCase
