# Build directories
build/
build-*/
.vscode/
.DS_Store

# ZibraVDB Houdini packages
package/

# Python virtual environment
venv/

# Backups for HDAs
/assets/otls/backup/

# CLion build directories
/**/cmake-build-*
