name: Build with LABS_BUILD

on:
  push:
    branches:
      - main

jobs:
  select-houdini-build:
    name: Select houdini build
    runs-on: [self-hosted, Linux, X64]
    outputs:
      # Legend
      # name - Human readable OS/Arch name. Version is appended separately.
      # os - Runner OS. Used for workflow logic.
      # runner - Github actions runner that should run the job
      # generator - Generator used for cmake configuration
      # houdini-version - Version of houdini to build against (e.g. "20.5"/"21.0")
      # houdini-build - Specific build of houdini to build against (e.g. "440")
      # houdini-install-path - Path into which houdini gets installed. This needs to be consistent with houdini install script, as it calculates path for previous version when removing it. On Windows it MUST USE BACKSLASHES.
      # hfs-path - Path to use HFS env var to. This is same as houdini-install-path on most platforms, but macOS is special and required additional suffix after houdini-install-path.
      # python-version - Python version to install (e.g. "3.11"). Only used on Windows right now.
      # python-command - Python command to use for running scripts (e.g. "python"/"python3")
      # python-venv-activate-path - Path to powershell python venv activation script within venv folder
      # additional-config-args - Additional commad line args to pass to cmake configuration. Required on macOS to specify architectrue (arm64/x64)
      build-matrix-json: ${{ steps.build_matrix.outputs.build_matrix }}

    steps:
      - name: Sync
        uses: actions/checkout@v4

      - name: Build matrix
        id: build_matrix
        working-directory: ${{ github.workspace }}
        shell: pwsh
        run: |
          python3 -m venv actions/houdini/venv
          ./actions/houdini/venv/bin/Activate.ps1
          pip3 install -r actions/houdini/requirements.txt
          python3 actions/houdini/build_matrix.py --all-versions --all-platforms
        env:
          HOUDINI_CLIENT_ID: ${{ secrets.HOUDINI_CLIENT_ID }}
          HOUDINI_SECRET_KEY: ${{ secrets.HOUDINI_SECRET_KEY }}

  build-plugin:
    needs: select-houdini-build
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.select-houdini-build.outputs.build-matrix-json) }}
            
    runs-on: ${{ matrix.runner }}
    name: Build ${{ matrix.name }}

    steps:
      - name: Sync
        uses: actions/checkout@v4

      - name: Install python
        if: ${{ matrix.os == 'windows' }}
        shell: pwsh
        run: winget install Python.Python.${{ matrix.python-version }} -e -s winget --override "Include_debug=1"

      - name: Check if Houdini is installed
        id: install-check
        working-directory: ${{ github.workspace }}
        shell: pwsh
        run: |
          ${{ matrix.python-command }} actions/houdini/is_installed.py --version ${{ matrix.houdini-version }} --build ${{ matrix.houdini-build }} --platform ${{ matrix.houdini-platform }} --install-path ${{ matrix.houdini-install-path }}

      - name: Install Houdini
        if: ${{ steps.install-check.outputs.need_install_houdini == 'true' }}
        working-directory: ${{ github.workspace }}
        timeout-minutes: 30
        shell: pwsh
        run: |
          ${{ matrix.python-command }} -m venv actions/houdini/venv
          ./actions/houdini/venv/${{ matrix.python-venv-activate-path }}
          ${{ matrix.python-command }} -m pip install -r actions/houdini/requirements.txt
          ${{ matrix.python-command }} actions/houdini/install_houdini.py --version ${{ matrix.houdini-version }} --build ${{ matrix.houdini-build }} --platform ${{ matrix.houdini-platform }} --install-path ${{ matrix.houdini-install-path }}
        env:
          HOUDINI_CLIENT_ID: ${{ secrets.HOUDINI_CLIENT_ID }}
          HOUDINI_SECRET_KEY: ${{ secrets.HOUDINI_SECRET_KEY }}

      - name: Configure Cmake
        working-directory: ${{ github.workspace }}
        shell: pwsh
        run: cmake -S . -B build -G "${{ matrix.generator }}" -DLABS_BUILD=ON -DZIBRAVDB_OUTPUT_PATH="${{ github.workspace }}/package" ${{ matrix.additional-config-args }}
        env:
          HFS: ${{ matrix.hfs-path }}

      - name: Build Debug
        working-directory: ${{ github.workspace }}
        shell: pwsh
        # Need to delete all generated artifacts, so Ninja Multi-Config does not get tripped up by existing artifacts when building Release
        run: |
          cmake --build build --config Debug
          Remove-Item -Recurse -Force "${{ github.workspace }}/package"

      - name: Build Release
        working-directory: ${{ github.workspace }}
        shell: pwsh
        run: cmake --build build --config Release

      - name: Save artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ZibraVDBForHoudini-${{ matrix.houdini-version }}.${{ matrix.houdini-build }}-${{ matrix.houdini-platform }}
          path: package
          if-no-files-found: error
          retention-days: 7
